.divider {
    border-top: 2px solid #6761A8;
    margin-bottom: 1rem;
}

.date {
    margin-bottom: 4rem;
}

.header {
    margin-bottom: .5rem;
}


.time {
    margin-bottom: .5rem;
}

.card {
    background: #3F4248;
    color: #ffffff;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    height: 100%;
    border-radius: 16px;
    margin-bottom: 1rem;
}