.divider {
    border-top: 1px solid rgba(40,47,72,.6);
    margin-bottom: .5rem;
}

.header {
    margin-bottom: 4rem;
}

h1 {
    margin-bottom: 1rem;
}

title {
    margin-bottom: 5.5rem;
}

time {
    margin-bottom: .5rem;
}