.divider {
    border-top: 1px solid rgba(40,47,72,.6);
    margin-bottom: .5rem;
}

.date {
    margin-bottom: 4rem;
}

.header {
    margin-bottom: .5rem;
}

.talktitle {
    margin-bottom: 5.5rem;
}

.time {
    margin-bottom: .5rem;
}