.sessions {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    img {
        border: 2px solid #eaeaea;
    }
}

.session {  
    a {
        background: #3F4248;
        color: #ffffff;
        display: block;
        padding: 1.5rem;
        text-decoration: none;
        width: 20.5rem;
        height: 100%;
        border-radius: .75rem;
    }

    a:hover {
        color: #009DDC;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}

.card {
        background: #3F4248;
        color: #ffffff;
        display: block;
        padding: 1.5rem;
        text-decoration: none;
        height: 100%;
        border-radius: .75rem;
        margin-bottom: 2rem;
}

