.speakers {
        list-style-type: none;
        margin: 0 auto;
        max-width: 750px;
        padding-bottom: 2rem; 
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        img {
            border: 2px solid #eaeaea;
        }
    }

.speaker {
    margin: 0rem .5rem .5rem 0rem;
    width: 12rem;


    a {
        background: #f4f4f4;
        color: #353e60;
        display: block;
        padding: 1rem;
        text-decoration: none;
        height: 21rem;
    }

    h2 {
        margin-bottom: 0;
    }

    a:hover {
        background: #e4e4e4;
    }

    p {
        color: #777777;
        font-size: .75rem;
        font-style: italic;
    }
}