.speakers {
        list-style-type: none;
        margin: 0 auto;
        padding-bottom: 2rem; 
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        img {
            border: 2px solid #eaeaea;
        }
    }

.speaker {
    margin: 0rem .5rem .5rem 0rem;
    width: 13.648rem;

    a {
        background: #f4f4f4;
        color: #353e60;
        display: block;
        padding: 1rem;
        text-decoration: none;
        height: 25rem;
    }

    h3 {
        font-size: 1.55rem;
        font-weight: 700;
        margin-top: .25rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.2rem;
        margin-top: .5rem;
        font-weight: 400;
    }

    a:hover {
        background: #e4e4e4;
    }

    p {
        color: #777777;
        font-size: .75rem;
        font-style: italic;
    }
}