.speakers {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

.speaker {
    a {
        background: #3F4248;
        color: #ffffff;
        display: block;
        padding: 1.5rem;
        text-decoration: none;
        width: 20.5rem;
        height: 100%;
        border-radius: 16px;
    }

    h3 {
        margin-top: .25rem;
        margin-bottom: 0;
    }

    h4 {
        margin-top: .5rem;
        font-weight: 400;
    }

    a:hover {
        color: #009DDC;
    }

    p {
        color: #2A2D34;
        font-size: .75rem;
        font-style: italic;
    }
}