.sponsors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.sponsor {

    a {
        background: #3F4248;
        display: block;
        padding: 1rem;
        text-decoration: none;
        width: 20.5rem;
        height: 100%;
        border-radius: 16px;
    }

    a:hover {
        background: #009DDC;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}