.header {
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

.title {
    color: #eae4d3;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #eae4d3;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #ff6854;
    font-weight: 600;
}

.active-nav-item {
    padding-bottom: .5rem;
    color: #eae4d3;
    border-bottom: 4px solid #ff6854;
}

.logo {
    width: 16rem;
    padding-bottom: 1rem;
}