.banner {
    width: 100%;
    height: 20vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.blackOverlay {
    display: -webkit-flex; /*Safari */
    display: flex;
    background-color: rgba(40,47,72,.8);
    height: 100%;
    align-items: center;
    text-align: left;
}

.contentBox {
    max-width: 620px;
    margin: 0 auto;
    padding: 1rem;
    text-transform: uppercase;
}

.description {
    margin: 0 auto;
    padding-bottom: 4rem;
}

.divider {
    border-top: 1px solid rgba(40,47,72,.6);
}

.spacing {
    padding-bottom: 4rem;
}

